
@font-face {
    font-family: 'MyWebFont';
    src: url('Cavorting.woff');
  }

.font-footer{

    font-family: sans-serif;
    font-variant: normal;
    color: blanchedalmond;

}

.background-header{

 background: rgb(8,104,170);
 background: linear-gradient(90deg, rgb(7, 108, 155) 0%, rgba(11,171,158,1) 100%, rgb(3, 230, 181) 100%);
 height: 400px;
 width: 100%;
 height: auto;

}

@media only screen and (min-width: 700px){
.img-perfil{
    background:url("imagenperfil.png");
    width: 60%;
     height: auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    /*box-shadow: -5px 20px 15px 3px rgba(0, 0, 0, 0.4);*/
}
.texto-presentacion{

    padding-left: 100px;
    
}

}
@media only screen and (max-width: 700px){
    .img-perfil{
        background:url("imagenperfil.png");
        width: 80%;
        height: auto;
        -moz-border-radius: 90%;
        -webkit-border-radius: 690%;
        border-radius: 90%;
        /*box-shadow: -5px 20px 15px 3px rgba(0, 0, 0, 0.4);*/
    }
    .div-img{

        display: contents;


     }
     .texto-presentacion{

        padding-left: 0px;
     }
}
.texto-presentacion{
    font-family: sans-serif;
}

.img-perfil:hover {-webkit-transform:scale(1.2);transform:scale(1.2);transition:all .5s ease-in-out;}


a{
    text-decoration: none;
}

.fa-instagram:hover{
    color: #ad1207;
    cursor:pointer;
}
.fa-facebook:hover{
    color: #ad1207;
    cursor:pointer;
}
.fa-github:hover{
    color: #ad1207;
    cursor:pointer;
}
.fa-whatsapp:hover{
    color: #ad1207;
    cursor:pointer;
}


.container-md{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
}

h2, h3{
    color :  rgb(8,104,170);;
    width: 100%;
    height: auto;
    font-family: sans-serif;
 }
 
 .img-globo{
  max-height: 500px;
  max-width: 100%;
  height: auto;
 }

 h5{
    text-decoration: underline;
 }
 h6{
     font-family: Arial, Helvetica, sans-serif;
     line-height: 1.5;
 }

 footer{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#065e52), to(#043164));
    height: 250px;
  }

.escolaridad:hover{
    cursor:pointer;
}
.fa-graduation-cap:hover{
    color: coral;
}
